<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DotNetCoreSqlDb.styles.css" asp-append-version="true" />
    @* Google font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.css" />
</head>
<body>
    <div class="ms-3 me-3 mt-1 d-flex justify-content-between align-items-center"  onclick="openSideBar()" id="header">
        <i class="fs-1 fw-bold fa-solid fa-bars" id="menu"></i>
        <div class="fs-1 fw-bold" id="title">Book Shop</div>
    </div>

    @* main *@
    <dvi class="h-100 w-100" id="main">
        @RenderBody()
    </dvi>
    @* sidebar *@
    <div class="SideBar position-fixed" id="sideBar">
        <div class="fs-1 fw-bold d-flex justify-content-between">
            <div class="ms-2">
                Book Shop
            </div>
            <div class="me-3" onclick="closeSideBar()">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div style="height:90%;" class="mt-3 d-flex justify-content-between flex-column">
            <div>
                <div class="fs-5 fw-bold ms-2">Category</div>
                <div class="fs-5 fw-bold ms-2">CoverType</div>
                <div class="fs-5 fw-bold ms-2">Books</div>
                <div class="fs-5 fw-bold ms-2">Companies</div>
                <div class="fs-5 fw-bold ms-2">Users</div>
            </div>
            <div class="ms-2 fs-5 fw-bold d-flex justify-content-start align-items-center">Account Setting</div>
        </div>
    </div>
    @*   <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Book Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </header> *@
    @*     <div class="container">
    <main role="main" class="pb-3"> *@
    @*       </main>
    </div> *@

    @*   <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - DotNetCoreSqlDb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
    <script src="https://kit.fontawesome.com/25ca41b880.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
