@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <style>

            body{
                background-image: <a asp-controller="File" asp-action="Download" asp-route-containerName="images" asp-route-fileName="background.jpg">Download File</a>;
                background-size: cover;
                background-position: center;
            }
    </style>
</head>
<body>



</body>
</html>