
@{
    ViewData["Title"] = "Home Page";
    var backgroundImageUrl = ViewData["BackgroundImageUrl"] as string; // Retrieve the URL passed from the controller
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('@backgroundImageUrl'); /* Use the URL passed from the controller */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>

</body>
</html>
