@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="google-site-verification" content="5yNN9aCLOwXTZvV6RP1rb3qEjJQedCgkqv6dXRe5Igk" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome To Tyrone Imperial Square Test Results</h1>
    <p>Any Questions talk to Jordan.</p>
</div>
